<!DOCTYPE html>
<html>
  <head>
    <title>Ancestry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
